APP_DEBUG=true
APP_TIMEZONE=America/Lima

DB_HOST=localhost
DB_PORT=3306
DB_NAME=complejo_deportivo_db
DB_USER=complejo_deportivo_user
DB_PASSWORD=

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

JWT_SECRET=cambia-esto-por-una-clave-generada
JWT_ACCESS_TTL=64800
JWT_REFRESH_TTL=604800
